label {
    font-size: 20px;
}

#txt {
    font-size: 20px;
}

select {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

#imgseq {
    white-space: nowrap;
    overflow-x: auto;
    font-size: 0;
}

.glyph {
    width: 40px;
    vertical-align: top;
}

.height-spacer {
    display: inline-block;
    height: 52px;
    vertical-align: top;
}