label {
    font-size: 18px;
}

#type-wrap {
    margin: auto 5px;
}

#type-wrap label {
    margin-right: 5px;
}

#font-wrap {
    display: inline-block;
}

label[for="font"] {
    vertical-align: middle;
}

#font, #clock-format {
    font-size: 16px;
    vertical-align: middle;
}

#input-spacer {
    height: 3px;
}

#txt {
    font-size: 16px;
}

#samples {
    display:inline-block;
    vertical-align: top;
    width: max-content;
}

.sample {
    display: flex;
    margin: 0 auto 4px;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

#clock-wrap {
    display: none;
}

.description {
    font-size: 16px;
}

#imgseq {
    white-space: nowrap;
    overflow-x: auto;
    font-size: 0;
    padding: 20px 0;
}

.glyph {
    width: 40px;
    vertical-align: top;
}

.height-spacer {
    display: inline-block;
    height: 52px;
    vertical-align: top;
}